extends layout

block content
    h1 #{title}
    if user
        form(method='POST', action="/update/" + user[0].username)
            #form-group
                label Username: 
                input.form-control.disabled(name="username", type="text" value=user[0].username readonly)
            br
            #form-group
                label Password: 
                input.form-control(name="password", type="text" value=user[0].password)
            br
            #form-group
                label First Name: 
                input.form-control(name="first_name", type="text" value=user[0].first_name)
            br
            #form-group
                label Last Name: 
                input.form-control(name="last_name", type="text" value=user[0].last_name)
            br
            #form-group
                label Email Address:  
                input.form-control(name="email", type="text" value=user[0].email)
            br
            #form-group
                label Street Address: 
                input.form-control(name="street", type="text" value=user[0].street)
            br
            #form-group
                label City/Town: 
                input.form-control(name="city", type="text" value=user[0].city)
            br
            #form-group
                label Province/Territory: 
                select.form-control(name="province")
                    option(value="BC" selected=("BC" == user[0].province)) British Columbia / Colombie-Britannique
                    option(value="AB" selected=("AB" == user[0].province)) Alberta
                    option(value="SK" selected=("SK" == user[0].province)) Saskatchewan
                    option(value="MB" selected=("MB" == user[0].province)) Manitoba
                    option(value="ON" selected=("ON" == user[0].province)) Ontario
                    option(value="QC" selected=("QC" == user[0].province)) Québec
                    option(value="NB" selected=("NB" == user[0].province)) New Brunswick / Nouveau-Brunswick
                    option(value="PE" selected=("PE" == user[0].province)) Prince Edward Island / Île-du-Prince-Édouard
                    option(value="NS" selected=("NS" == user[0].province)) Nova Scotia / Nouvelle-Écosse
                    option(value="NL" selected=("NL" == user[0].province)) Newfoundland and Labrador / Terre-Neuve-et-Labrador
                    option(value="YT" selected=("YT" == user[0].province)) Yukon
                    option(value="NT" selected=("NT" == user[0].province)) Northwest Territories / Territoires du Nord-Ouest
                    option(value="NU" selected=("NU" == user[0].province)) Nunavut
            br
            #form-group
                label Postal Code: 
                input.form-control(name="postal_code", type="text" value=user[0].postal_code)
            br
            input.btn.btn-primary(type="submit")
    else
        p 
            em No user found!<br />Try refreshing the page.